.container {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.heading {
    text-align: center;
    margin-bottom: 20px;
}

@media all and (max-width: 920px) {
    .container {
        flex-direction: column;
    }
}